@model PetModel
@{
    ViewData["title"] = "Edit Product";
}


<h3>Edit Product</h3>

<div class="col-md-9">
    <form asp-action="Edit" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="Id" />

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label>Name</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>Description</label>
            <textarea asp-for="Description" class="form-control"> </textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Giới tính</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" asp-for="Sex" value="Boy" id="boyOption" />
                <label class="form-check-label" for="boyOption">Đực (Boy)</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" asp-for="Sex" value="Girl" id="girlOption" />
                <label class="form-check-label" for="girlOption">Cái (Girl)</label>
            </div>
            <span asp-validation-for="Sex" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Age</label>
            <input asp-for="Age" type="date" class="form-control" value="@Model.Age.ToString("yyyy-MM-dd")" />
            <span asp-validation-for="Age" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Category</label>
            <select asp-for="PetCategoryId" class="form-control" asp-items="ViewBag.Categories">
                <option>--Choose a category</option>
            </select>
            <span asp-validation-for="PetCategoryId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Hình ảnh hiện tại</label><br />
            @if (@Model.Image == "null.jpg")
            {
                <img src="~/images/null.jpg" width="120px" />
            }
            else
            {
                <img src="~/images/pets/@Model.Image" width="120px" />
            }
        </div>
        <div class="form-group">
            <label>Đổi hình ảnh (nếu cần)</label>
            <input asp-for="ImageUpload" class="form-control" />
            <span asp-validation-for="ImageUpload" class="text-danger"></span>
            <img id="imgpreview" class="pt-2" />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Update</button>
        </div>


    </form>

    <a asp-action="Index">Back to list Pet</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="https://cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script>
    <script>
        const maxSize = 5 * 1024 * 1024;
        $("#ImageUpload").change(function () {
            const file = this.files[0];

            if (file){
                if (file.size > maxSize) {
                    alert("File ảnh không được lớn hơn 5MB.");
                    $(this).val("");
                    return;
                }
            }
            readURL(this);
        });
        function readURL(input) {
            if (input.files && input.files[0]) {
                const reader = new FileReader();

                reader.onload = function (e) {
                    $("#imgpreview").attr("src", e.target.result)
                                     .css({ "max-width": "200px", "max-height": "200px" }); // Tùy chỉnh thêm cho đẹp
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
    <script>
        CKEDITOR.replace('Description', {
            versionCheck: false
        });
    </script>
}

