@model ResetPasswordVM
@{
	ViewData["title"] = "Reset Password";
}

<section>
	<!--form-->
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-1">
				<div class="signup-form">
					<!-- form-->
					<h2>Reset Password</h2>
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<form asp-action="ResetPassword" asp-controller="Account" method="post">
						<div class="form-group">
							<label>Old Password</label>
							<input asp-for="OldPassword" class="form-control" />
							<span asp-validation-for="OldPassword" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label>New Password</label>
							<input asp-for="NewPassword" class="form-control" />
							<span asp-validation-for="NewPassword" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label>Confirm new password</label>
							<input asp-for="ConfirmPassword" class="form-control" />
							<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
						</div>
						<button type="submit" class="btn btn-default">Apply</button>
					</form>
				</div><!--/form-->
			</div>
		</div>
	</div>
</section>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
