@model ContactModel
<div class="row">
	<div class="col-sm-5 col-md-5">
			<h5>Địa chỉ: @Model.Address</h5>
	</div>
	<div class="col-sm-4">
		<div class="address">
			<h5><b>Name : @Model.Name</b></h5>
			<h5>Email : @Model.Email</h5>
			<h5>@Model.Phone</h5>
			
		</div>
	</div>
	<div class="col-sm-4">
	<div class="fb-page" 
	data-href="https://www.facebook.com/hocvienkythuatmatma" 
	data-tabs="message" 
	data-width="" data-height="" 
	data-small-header="false" 
	data-adapt-container-width="true" 
	data-hide-cover="false" 
	data-show-facepile="true">
	<blockquote cite="https://www.facebook.com/hocvienkythuatmatma" class="fb-xfbml-parse-ignore">
		<a href="https://www.facebook.com/hocvienkythuatmatma">Học viện Kỹ thuật mật mã - KMA</a>
		</blockquote>
	</div>
</div>
	
</div>