@model List<GroupMemberModel>
@{
    ViewBag.Title = "Thong Tin Nhom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="oauth container mt-4">
    <h4 class="mb-3">Thông tin các thành viên trong nhóm:</h4>
    <hr />

    <div class="table-responsive">
        <table class="table table-hover table-bordered text-center align-middle">
            <thead class="table-light">
                <tr>
                    <th scope="col">Ảnh</th>
                    <th scope="col">MSSV</th>
                    <th scope="col">Họ và Tên</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td>
                            <img src="~/images/members/@Model[i].ImageUrl"
                                 alt="Avatar"
                                 class="rounded-circle"
                                 style="width: 70px; height: 70px; object-fit: cover;" />
                        </td>
                        <td>@Model[i].MSSV</td>
                        <td>@Model[i].Name</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>